<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxJm1mTUoSr9E81HZ1ldPIWhTEONc0bY4</string>
	<key>GCM_SENDER_ID</key>
	<string>230192212218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.siapAppNew.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>siap-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>siap-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230192212218:ios:88f1a810ba8c201ca38143</string>
</dict>
</plist>